@charset "UTF-8";
html,body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}
#updateMemberForm {
	width: 60%;
	margin:0 auto;
	
}
#updateMemberForm h3{
	width:20%;
	margin-left:10%;
	margin-right:70%;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 3px solid rgb(26,26,26);
	color: rgb(50,50,50);
	font-size:120%;
	
}
#updateMemberForm p{
	width: 70%;
	margin: 0 auto;
	margin-top: 3%;
	color: rgb(160,160,160);
	font-size: 90%;
	font-weight: bold;
}
#updateMemberForm_updateMemberForm {
	display: table;
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	padding-top:1%;
	padding-bottom: 5%;

}
#updateMemberForm_updateMemberForm div{
	display: table-row-group;
	
	
}
#updateMemberForm_updateMemberForm p{
	width:100%;
	font-size: 90%;
	font-weight: bold;
	color: rgb(130,130,130);
}
#updateMemberForm_updateMemberForm span{
	
	width:40%;
	display: table-cell;
	font-size: 120%;
	font-weight: bold;
	margin-top: 5%;
	color: rgb(50,50,50);
}
#updateMemberForm_updateMemberForm input{
	padding-top:1%;
	padding-bottom:1%;
	padding-left:3%;
	padding-right:3%;
	margin:0;
	width:100%;
	display: table-cell;
	font-size: 100%;
	font-weight: bold;
	margin-top: 5%;
	border:1px solid rgba(51,51,51,0.3);
	color: rgb(50,50,50);
	text-align: center;
}
#updateMemberForm_updateMemberForm  input:focus{
	outline: none;
	font-weight:normal;
	text-align: left;
	box-shadow:1px 1px 10px rgba(102,255,102,0.5);
}
footer{
	display:block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5%;
	
}
footer input{
	width:20%;
	margin:0 auto;
	display:inline;
	font-size: 120%;
	font-weight: bold;
	
	padding:5px;
	border:none;
	border-radius:10px;
	
	color: white;
	background-color: rgb(57,181,74);
	cursor: pointer;
}
footer input:hover{
	width:20%;
	margin:0 auto;
	display:inline;
	font-size: 120%;
	font-weight: bold;
	
	border-radius:10px;
	color: white;
	background-color: rgba(57,181,74,0.5);
	box-shadow:1px 1px 10px rgba(102,255,102,0.5);
}